

.banner-container {
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 100;
  }
  
  .image-container {
    flex: 1;
    max-width: 100%;
    height: 100%;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .text-container {
    flex: 1;
    padding: 0 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.75rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1rem;
  }

.cricket-container .css-o51fhk {
  max-width: 80vw;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.cricket-container .css-1uodvt1 {
  flex-wrap: wrap;
}

body {
  overflow-x: hidden;
}

.cricket-container {
  min-height: 50vh;
}

.css-1wq9qmd {
  margin: 20px 0;
}

.site-container {
  margin: 0 0 100px 0px;
}

